[dependencies]
serde_json = "1.0.79"
serde_yaml = "0.8.23"

[dependencies.cao-lang]
default-features = false
features = ["serde"]
path = "../cao-lang"

[dependencies.pyo3]
features = ["extension-module", "abi3"]
version = "0.15.1"

[lib]
crate-type = ["cdylib"]
name = "cao_lang_py"

[package]
authors = ["Daniel Kiss <littlesnorrboy@gmail.com>"]
edition = "2018"
license = "MIT"
name = "cao-lang-py"
version = "0.1.36"
